.s-heading h1 {
    font-size: 60px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    color: #d0ff00;
}

p.heading.p__color {
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
}

.service__box {
    border-radius: 10px;
    width: 100%;
    background-color: #191919;
    padding: 55px;
    transition: 0.4s ease;
}

.service__box:hover {
    transform: translateY(5px);
    background-image: linear-gradient(90deg, #f61b10, #ef0963);
}

.service__box:hover .icon {
    color: #fff;
}

.service__box:hover p.service__text.p__color {
    color: #fff !important;
}

.icon {
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 23px;
    display: inline-flex;
    color: #f9004d;
}

p.service__text.p__color {
    margin-bottom: 0;
}

h1.service__text {
    font-size: 19px;
    font-family: Poppins, sans-serif;
    padding: 10px 0px;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
}

.col__2 {
    max-width: 50%;
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
}

.col__3 {
    max-width: 33.333333%;
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}


/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
    .service__box {
        padding: 32px;
    }
    /* .heading {
        font-size: 10px;
    } */
}

@media only screen and (max-width: 425px) {
    .h1.heading {
        font-size: 20px;
    }
    .s-heading>h1 {
        font-weight: 300;
        font-size: 45px;
    }
}