#features {
    margin-top: 140px;
    width: 100%;
    height: 80vh;
    background-color: #000000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
}

.features-text {
    width: 45%;
    color: #fff;
    list-style: circle;
}

.features-text h2 {
    font-size: 2rem;
    color: #d0ff00;
    font-weight: 400;
}

.features-text h2 {
    margin: 0px;
    padding: 0px;
}

.features-text p {
    font-size: 1.2rem;
    color: #b4b4b4;
}

@media screen and (max-width: 970px) {
    #features {
        display: block;
        height: inherit;
    }
    .features-text {
        width: 100%;
    }
    .service__box {
        height: 400px;
    }
    .about__vid {
        width: 100% !important;
    }
    .header-name {
        width: 100%;
    }
}