.form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
}

.form>h1 {
    margin-bottom: 30px;
    color: #d0ff00;
    font-size: 40px;
}

.form>input,
textarea {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    background: #fff;
    font-size: 16px;
    color: rgb(0, 0, 32);
    outline: none;
    width: 500px;
}

.form>textarea {
    height: 150px;
    width: 500px;
    min-height: 100px;
}

.form>label {
    padding-bottom: 10px;
    color: #d0ff00;
    font-weight: bold;
    font-size: 20px;
}

.form>button {
    padding: 20px;
    background-color: #d9e4ac;
    font-weight: 500;
    font-size: 20px;
    border-radius: 3px;
    color: rgb(27, 26, 26);
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
    width: 250px;
    border-radius: 5px;
}

.form>button:hover {
    background-color: #d0ff00;
}

@media screen and (max-width: 480px) {
    .form>textarea,
    .form>input {
        width: 90%;
    }
    .form>h1 {
        font-size: 30px;
    }
    .form>button {
        font-size: 15px;
        width: 150px;
        height: 50px;
    }
}