.main-footer {
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    text-align: center;
    color: #fff;
    height: 70px;
    width: 100%;
    background-color: #191919;
}

@media screen and (max-width: 480px) {
    .main-footer {
        font-size: 13px;
    }
}